---
---
@import "{{ site.theme }}";

.fork {
  display: none !important;
}

.wrapper {
  max-width: 800px
}

h1, h2, h3, h4, h5, h6 {
  color: #007bff; /* Crunchy Data's Electric Blue */
}

a {
  color: #007bff; /* Links in Electric Blue */
}

img {
  max-width: 300px; /* Adjust logo size */
}
