---
---
@import "{{ site.theme }}";
$disclaimer-text: "This site managed independent of CrunchyData, Inc";

.fork {
  display: none !important;
}

#header {
  display: none !important;
  height: 1px !important;
}

.wrapper {
  max-width: 800px;
}

section {
  margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #007bff; /* Crunchy Data's Electric Blue */
}

a {
  color: #007bff; /* Links in Electric Blue */
}

img {
  max-width: 300px; /* Adjust logo size */
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}

span.credits.right {
  visibility: hidden; /* Hide original text */
  position: relative; /* Position for pseudo-element */
}

span.credits.right::before {
  content: $disclaimer-text; /* New text */
  visibility: visible; /* Show new text */
  position: absolute; /* Overlay new text */
  left: 0;
  /* color: #007bff; /* Match Crunchy Data's branding */
}

/* Style the disclaimer */
.disclaimer {
  font-size: 0.8em; /* Smaller text */
  font-style: italic; /* Italicized for subtlety */
  color: #666; /* Muted color to blend with Midnight theme */
}
